<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>독수리 세상</title>
</head>
<body>
<div layout:fragment="content">
<!--<div class="container">

    <div class="contents">

        <h1> 한화이글스 커뮤니티 - 독수리 세상 </h1>

        <hr>

        <a href="/members/join"> 회원가입으로 </a>

        <a href="/members/login"> 로그인으로 </a>

        <header th:replace="fragments/header::headerFragment"></header>

    </div>

</div-->

    <table class="border-collapse border border-slate-400 ...">
        <thead>
        <tr>
            <th class="border border-slate-300 ...">카테고리</th>
            <th class="border border-slate-300 ...">내용</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="border border-slate-300 ...">게시판</td>
            <td class="border border-slate-300 ...">자유게시판</td>
        </tr>
        <tr>
            <td class="border border-slate-300 ...">컨텐츠</td>
            <td class="border border-slate-300 ...">사진</td>
        </tr>
        <tr>
            <td class="border border-slate-300 ...">더보기</td>
            <td class="border border-slate-300 ...">설명</td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>