<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>독수리 세상</title>
</head>
<body>
<div layout:fragment="content">
<!--<div class="container">

    <div class="contents">

        <h1> 한화이글스 커뮤니티 - 독수리 세상 </h1>

        <hr>

        <a href="/members/join"> 회원가입으로 </a>

        <a href="/members/login"> 로그인으로 </a>

        <header th:replace="fragments/header::headerFragment"></header>

    </div>

</div-->
</div>
</body>
</html>